{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
		
    var users = {}
  	var colors = [];
   
  
    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
  	}
 
  
  	// Set user color
  	var user_color = getRandomColor();
  
    while (user_color in colors) { // Loop till select an unused color
      user_color = getRandomColor();
    };
  
    colors.push(user_color); 
 
  	// Set user number
    var usernum = Math.random();
  
  	// Set thickness 
  	var line_thick = 5;
  
  
    // On mouse move interaction.
    tool.onMouseMove = function(event) {
      var drawing_path = {
        x: event.point.x,
        y: event.point.y, 
        userno: usernum,
        color: user_color,
        thick: line_thick
        
      };
     
      socket.send(JSON.stringify(drawing_path));
    };

  

    // Send drawing through websocket
    var socket = new WebSocket('wss:/p3-websockets-Nlorio-nlorio535274.codeanyapp.com/ws/draw');
  
//     first = true;
//   	var myPath;
    // triggered when receiving a new drawing from the server
    socket.onmessage = function(str_path) {
        // Mimic path from server on the websocket clientele
//       console.log(socket)
      var path_coord = JSON.parse(str_path.data);  
      var point;
     
      // If user not in users -> add user and generate color and new path
      
      user_socket = path_coord.userno;
      
      if (url.indexOf('small') != -1) {
      	if (user_socket == usernum) {
          if (!(user_socket in users)) {
           	var path_u = new paper.Path();
           	users[user_socket] = path_u;
		       	users[user_socket].strokeColor = path_coord.color;
		       	users[user_socket].strokeWidth = path_coord.thick;
    	     	point = new paper.Point(path_coord.x, path_coord.y); // build new point 
      	   	users[user_socket].add(point);
        	}
          else {
            users[user_socket].strokeColor = path_coord.color;
            users[user_socket].strokeWidth = path_coord.thick;
            point = new paper.Point(path_coord.x, path_coord.y); // build new point 
            users[user_socket].add(point);
          }
     		}
      }
      
     	else {
         if (!(user_socket in users)) {
           var path_u = new paper.Path();
           users[user_socket] = path_u;
         };

         users[user_socket].strokeColor = path_coord.color;
         users[user_socket].strokeWidth = path_coord.thick;
         point = new paper.Point(path_coord.x, path_coord.y); // build new point 
         users[user_socket].add(point);
      };
      

    };



    // notify console if socket closes unexpectedly
    socket.onclose = function(e) {
        console.error('Drawing socket closed unexpectedly');
    };


  
//   Mobile Gesture Code Here
  
  
  
  $(document).ready(() => {
    
    window.addEventListener("devicemotion", (event) => {
      if ((Math.abs(event.acceleration.x) > 20) || (Math.abs(event.acceleration.y) > 20) || (Math.abs(event.acceleration.z) > 20)) {
          paper.project.clear();
//         	paper.project.activeLayer.removeChildren()
          }
		});
    
    window.addEventListener("deviceorientation", (event) => {
      if (event.gamma > 40) { // tilt right
        user_color = getRandomColor();
       }
		});
    
    window.addEventListener("deviceorientation", (event) => {
      if (event.gamma < -40) { // tilt left
        // change thickness of path line 
        line_thick = 10;
       }
		});
    
    
    window.addEventListener("deviceorientation", (event) => {
      if (event.beta < -10) { // tilt left
        // change color to black
        user_color = 'black';
       }
		});
    
	});
  
  


</script>
</html>
