{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    // On mouse move interaction.
    tool.onMouseMove = function(event) {
        // Draw locally
        var drawing_path = {
            x: event.point.x,
            y: event.point.y
           
        };
        
        socket.send(JSON.stringify(drawing_path));
    };


    // Send drawing through websocket
    var socket = new WebSocket('wss:/p3-websockets-Nlorio-nlorio535274.codeanyapp.com/ws/draw');
//     http(s)://p3-websockets-Nlorio-nlorio535274.codeanyapp.com
  
    first = true;
  	var myPath;
    // triggered when receiving a new drawing from the server
    socket.onmessage = function(str_path) {
        // Mimic path from server on the websocket clientele
     
      
      var path_coord = JSON.parse(str_path.data);  
      var point;
      if (first) {
            myPath = new paper.Path();
            myPath.strokeColor = 'black';
            point = new paper.Point(path_coord.x, path_coord.y);
            myPath.add(point);
            first = false;
        }
        else {
//             var path_coord = (JSON.parse(str_path.data));
            point = new paper.Point(path_coord.x, path_coord.y);
            myPath.add(point);
        }

    };



    // notify console if socket closes unexpectedly
    socket.onclose = function(e) {
        console.error('Drawing socket closed unexpectedly');
    };




</script>
</html>
