{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
      
      
      canvas[resize] {
    		width: 100%;
   		  height: 100%;
			}
      
 				.flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-between;
        flex-direction: row;
  			}
      
     	 	.flex-item {
/*         margin: 10px; */
        background:  #9009A0;
        padding: 5px;
        width: 400px;
    /*     width: calc(100%/5); */
        height: 300px;
        margin-top: 10px;
        text-align: center;
        color: white;
        font-size: 40px;
        flex-direction: column;
        justify-content: center;
        display:flex;
        background: #4E8A68;
 				}
      
       	h3 {
        text-align:right;
        }
      
     
      
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="1000px" height="750px" resize="true"></canvas>
  
  <ul class="flex-container">
      <li class="flex-item" id = "A">A:</li>
      <li class="flex-item" id = "B">B:</li>
      <li class="flex-item" id = "C">C:</li>
      <li class="flex-item" id = "D">D:</li>
  </ul>
  
  
</body>
<script>
  
  
   	// Initialize answer bin arrays 
  	var answer_a = [];
  	var answer_b = [];
    var answer_c = [];
 		var answer_d = [];
  
  

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
		
    var users = {}
  	var colors = [];
   
  
    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
  	}
 
  
  	// Set user color
  	var user_color = getRandomColor();
  
    while (user_color in colors) { // Loop till select an unused color
      user_color = getRandomColor();
    };
  
    colors.push(user_color); 
 
  	// Set user number
    var usernum = Math.random();
  
  	// Set thickness 
  	var line_thick = 5;
  
  
    // On mouse move interaction.
    tool.onMouseMove = function(event) {
      var drawing_path = {
        x: event.point.x,
        y: event.point.y, 
        userno: usernum,
        color: user_color,
        thick: line_thick
        
      };
     
      socket.send(JSON.stringify(drawing_path));
    };

  

    // Send drawing through websocket
    var socket = new WebSocket('wss:/p3-websockets-Nlorio-nlorio535274.codeanyapp.com/ws/draw');
  
//     first = true;
//   	var myPath;
    // triggered when receiving a new drawing from the server
    socket.onmessage = function(str_path) {
        // Mimic path from server on the websocket clientele
//       console.log(socket)
      var path_coord = JSON.parse(str_path.data);  
      var point;
     
      // If user not in users -> add user and generate color and new path
      
      user_socket = path_coord.userno;
      
      if (url.indexOf('small') != -1) {
      	if (user_socket == usernum) {
          if (!(user_socket in users)) {
           	var path_u = new paper.Path();
           	users[user_socket] = path_u;
		       	users[user_socket].strokeColor = path_coord.color;
		       	users[user_socket].strokeWidth = path_coord.thick;
    	     	point = new paper.Point(path_coord.x, path_coord.y); // build new point 
      	   	users[user_socket].add(point);
        	}
          else {
            users[user_socket].strokeColor = path_coord.color;
            users[user_socket].strokeWidth = path_coord.thick;
            point = new paper.Point(path_coord.x, path_coord.y); // build new point 
            users[user_socket].add(point);
          }
     		}
      }
      
     	else {
         if (!(user_socket in users)) {
           var path_u = new paper.Path();
           users[user_socket] = path_u;
         };

         users[user_socket].strokeColor = path_coord.color;
         users[user_socket].strokeWidth = path_coord.thick;
         point = new paper.Point(path_coord.x, path_coord.y); // build new point 
         users[user_socket].add(point);
      };
      

    };



    // notify console if socket closes unexpectedly
    socket.onclose = function(e) {
        console.error('Drawing socket closed unexpectedly');
    };


  
//   Mobile Gesture Code Here
  
  
  
  $(document).ready(() => {

   // Select answer A  
    window.addEventListener("devicemotion", (event) => {
      if ( event.acceleration.x > 9) {
        if (!answer_a.includes(user_socket) && !answer_b.includes(user_socket) && !answer_c.includes(user_socket) && !answer_d.includes(user_socket)) {
        	answer_a.push(user_socket);
          document.getElementById("A").innerHTML = "A: " + answer_a.length;
        	}
        }
		});
    
    // Select answer B
    window.addEventListener("devicemotion", (event) => {
      if (event.acceleration.x < -10) {
//         if (!answer_b.includes(user_socket)) {
       	if (!answer_a.includes(user_socket) && !answer_b.includes(user_socket) && !answer_c.includes(user_socket) && !answer_d.includes(user_socket)) {
        	answer_b.push(user_socket);
          document.getElementById("B").innerHTML = "B: " + answer_b.length;
        	}
         }
		});
    
    // Select answer C
    window.addEventListener("devicemotion", (event) => {
      if (event.acceleration.y < -10) {
//         if (!answer_c.includes(user_socket)) {
        if (!answer_a.includes(user_socket) && !answer_b.includes(user_socket) && !answer_c.includes(user_socket) && !answer_d.includes(user_socket)) {
        	answer_c.push(user_socket);
          document.getElementById("C").innerHTML = "C: " + answer_c.length;
        	}
         }
		});
    
    // Select answer D
    window.addEventListener("devicemotion", (event) => {
      if (event.acceleration.y > 9) {
//         if (!answer_d.includes(user_socket)) {
        if (!answer_a.includes(user_socket) && !answer_b.includes(user_socket) && !answer_c.includes(user_socket) && !answer_d.includes(user_socket)) {
        	answer_d.push(user_socket);
          document.getElementById("D").innerHTML = "D: " + answer_d.length;
        	}
         }
		});
    
    
    // Retract answer   
    window.addEventListener("deviceorientation", (event) => {
      if (event.gamma > 80) {// face phone down 
       if (answer_a.includes(user_socket)) {
         answer_a.splice(answer_a.indexOf(user_socket), 1);
         document.getElementById("A").innerHTML = "A: ";
       }
       if (answer_b.includes(user_socket)) {
         answer_b.splice(answer_b.indexOf(user_socket), 1);
         document.getElementById("B").innerHTML = "B: ";
       }
        
       if (answer_c.includes(user_socket)) {
         answer_c.splice(answer_c.indexOf(user_socket), 1);
         document.getElementById("C").innerHTML = "C: ";
       }
       
       if (answer_d.includes(user_socket)) {
         answer_d.splice(answer_d.indexOf(user_socket), 1);
         document.getElementById("D").innerHTML = "D: ";
       }
        
       }
		});
    
    
    
//     window.addEventListener("devicemotion", (event) => {
//       if ((Math.abs(event.acceleration.x) > 20) || (Math.abs(event.acceleration.y) > 20) || (Math.abs(event.acceleration.z) > 20)) {
//           paper.project.clear();
// //         	paper.project.activeLayer.removeChildren()
//           }
// 		});
    
    window.addEventListener("deviceorientation", (event) => {
      if (event.gamma > 40) { // tilt right
        user_color = getRandomColor();
       }
		});
    
    window.addEventListener("deviceorientation", (event) => {
      if (event.gamma < -40) { // tilt left
        // change thickness of path line 
        line_thick = 10;
       }
		});
    
    
//     window.addEventListener("deviceorientation", (event) => {
//       if (event.beta < -10) { // tilt left
//         // change color to black
//         user_color = 'black';
//        }
// 		});
    
	});
  
  


</script>
</html>
